/* Styles for the CoverPop.js plugin */


html,
body {
    overflow: auto;
}

body {
    position: relative;
}

.CoverPop-open {
    height: 100%;
    overflow: hidden;
}

    .splash-up body {
        height: 100%;
        overflow: hidden;
    }

#CoverPop-cover {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

    #CoverPop-content {

    }