/*
* Custom Styles
*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .splash {
        background-color: rgb(42,86,186);
        background-color: rgba(42,86,186,0.95);
    }

        .splash-center {
            text-align: center;
            max-width: 420px;
            padding: 20px;
            background: #fff;
            margin: 10% auto 0;
        }

            .splash-title {
                margin: 0 0 5px 0;
            }

            .input-text {
                width: 100%;
                margin-bottom: 5px;
                border: solid 1px #ccc;
                padding: 7px;
            }

            .submit-button {
                margin-bottom: 10px;
            }

            .close-splash {
                margin: 0;
                font-size: 12px;
            }

@media screen and (max-width: 420px) {
    .splash-center {
        margin: 0;
    }
}