/*
* Custom Styles
*/

    .splash {
        background-color: rgb(47,99,135);
        background-color: rgba(47,99,135,.9);
    }

        .splash-center {
            text-align: center;
            width: 40%;
            padding: 20px;
            background: #fff;
            margin: 10% auto 0;
        }

