/*
* Custom Styles
* The css styles CoverPop uses is in CoverPop.css
*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .splash {
        background-color: rgb(42,86,186);
        background-color: rgba(42,86,186,0.95);
    }

        .splash-center {
            text-align: center;
            width: 40%;
            padding: 20px;
            background: #fff;
            margin: 10% auto 0;
        }
